{% if SOFT_SKILLS_HEAD %}
<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>{{SOFT_SKILLS_HEAD}}</h2>
    <div class="skillset">        
        {% for skill in SOFT_SKILLS %}
            <div class="item">
                <h3 class="level-title">{{ skill['title' ]}}</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="{{ skill['level'] }}%">
                    </div>
                </div><!--//level-bar-->		
            </div><!--//item-->
        {% endfor %}
    </div>
</section><!--//skills-section-->
{% endif%}

{% if HARD_SKILLS_HEAD %}
<section class="skills-section section">
	<h2 class="section-title"><i class="fa fa-rocket"></i>{{HARD_SKILLS_HEAD}}</h2>
	<div class="skillsPieChart" 
		data-values='{{HARD_SKILLS}}'
		data-width="250" 
		data-height="250" 
		data-red="0" 
		data-green="128" 
		data-blue="255" 
		style="margin-top:0px;">
		
		<div style="text-align: center;">
			<div class="chartCanvasWrap"></div>
		</div>	
	</div>
</section><!--//skills-section-->
{% endif%}